<div class="container"  ng-controller="studioCtrl">
    <div class="jumbotron bg-dark rounded-3 my-5 p-5 text-light">
        <h1 class="display-4">{{ studioName }}</h1>
        <p class="lead">Estudio de <span ng-repeat="service in services">{{ service.name }} </span></p>
        <hr class="my-4">
        <p>Ofrecemos servicios para proyectos solistas o bandas. Produccion musical y diseño sonoro personalizado.</p>
        <p class="lead">
            <a class="btn btn-light btn-lg" href="#" role="button">Contáctanos</a>
        </p>
    </div>

    <div class="row">

        <div class="col-12 mb-3">
            <div class="mb-3"> 
                <input type="text" class="form-control" placeholder="Buscar servicio" ng-model="search">
            </div> 
            <a href="#" class="btn" ng-click="order = 'name'">Filtrar por nombre</a>
            <a href="#" class="btn" ng-click="order = 'price'">Filtrar por precio</a>
        </div>
        
        <div class="col-sm-4 mb-3" ng-repeat="service in services | orderBy: order | filter: search ">
            <div class="rounded-3 bg-primary p-3 text-light"> 
                <p>{{ service.name }}</p>
                <p>{{ service.price | currency: '$' }}</p>
                <a class="btn btn-dark" href="#" role="button" ng-click="add()">Contratar servicio</a> 
            </div>
        </div>

    </div>
 
    <div class="row">

            <div class="col-12 mb-3">
                <h2>Carrito</h2>
                <ul>
                    <li ng-repeat="service in cart">{{ service.name}} - {{ service.price}}</li>
                </ul>
            </div> 
    
        </div>

</div>